$color-primary: #f1c40f;
$color-secondary: #f39c12;

$color-warning: #FF8800;
$color-warning-dark: #b35f00;

$color-danger: #CC0000;
$color-danger-light: #ef9a9a;
$color-danger-light-2: #ffebee;

$color-success: #007E33;
$color-success-light: #c8e6c9;
$color-success-light-2: #f1f8e9;