.joke {

    &__form {

        font-size: 3rem;

    }

    &__input {

        

    }

    &__number {

        font-size: 2.5rem;
        font-family: inherit;
        display: block;

        margin: 2rem 0;
        padding: 1rem 1rem;

    }

    &__btn {

        font-size: 2rem;
        font-family: inherit;
        font-weight: 300;
        display: block;
        
        padding: 1rem 4rem;
        border: none;

        background-color: $color-secondary;

        cursor: pointer;
        transition: all .2s;

        &:hover {

            background-color: $color-primary;
            box-shadow: 0 1rem 2rem rgba(#000, .15);
            transform: translateY(-.2rem);

        }

        &:active {

            box-shadow: 0 .5rem 1rem rgba(#000, .15);
            transform: translateY(0);

        }

    }

    &__output {

        font-size: 2rem;
        
        display: grid;
        grid-template-columns: 15rem 1fr;

        margin: 3rem 0;

        &-header {

            font-weight: 400;
            border-bottom: #000 solid .1rem;
            padding-bottom: 1rem;
            text-align: center;

        }

        &-number {

            text-align: center;
            
            border-bottom: #000 solid .1rem;
            padding: 3rem;

            background-color: $color-primary;

        }

        &-content {

            font-size: 1.5rem;
            line-height: 1.6;
            
            border-bottom: #000 solid .1rem;
            padding: 2rem;

        }

    }

}